body {
    background: linear-gradient(-225deg, #9432e4 0%, #7918F2 48%, #4801FF 100%);
    font-family: 'Avenir';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#weather-container {
    background: rgba(255, 255, 255, 0.3);
    max-width: 400px;
    max-height: 80vh;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    overflow: scroll;
}

#heading {
    display: flex;
    font-weight: normal;
    margin-top: 15px;
}

h2, h4, label, p {
    color: #fff;
    margin: 8px 0;
    font-weight: normal;
}

h2 {
    font-size: 22pt;
}

input {
    width: calc(100% - 16px - 75px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-left: 10px;
    margin-right: 5px;
}


button {
    background: rgba(255, 255, 255, 0.35);
    color: white;
    padding: 10px;
    margin-left: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 75px;
    font-size: 16px;
}

button:hover {
    background: rgba(255, 255, 255, 0.42);
}

#temperature p {
    font-size: 60px;
    margin-top: -30px;
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 175px;
    height: 175px;
    margin: 0 auto 10px; 
    margin-bottom: -25px;
    display: none;
}

#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.hourly-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}